<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.composite.dao.IUserRepository">
    <resultMap id="userMap" type="com.composite.entity.IUser">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="roles" ofType="com.composite.entity.IRole">
            <result column="id" property="id"/>
            <result column="name" property="name"/>
        </collection>
    </resultMap>


    <select id="findByUsername" parameterType="map" resultMap="userMap">
        SELECT user.*,sys_role.name FROM user
        LEFT JOIN sys_role
        ON user.id = sys_role.id
        WHERE user.username = #{username}
    </select>

    <insert id="insert" parameterType="com.composite.entity.IUser" useGeneratedKeys="true" keyProperty="id">
        insert into user(username, password) values(#{username}, #{password})
    </insert>

</mapper>