<component name="ArtifactManager">
  <artifact type="war" name="springbootthriftinterfacetest:war">
    <output-path>$PROJECT_DIR$/springbootthriftinterfacetest/target</output-path>
    <root id="archive" name="springboot-thrift-interface-test.war">
      <element id="artifact" artifact-name="springbootthriftinterfacetest:war exploded" />
    </root>
  </artifact>
</component>