<component name="ArtifactManager">
  <artifact type="war" name="springboot-thrift-interface:war">
    <output-path>$PROJECT_DIR$/springboot-thrift-interface/target</output-path>
    <root id="archive" name="springboot-thrift-interface-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot-thrift-interface:war exploded" />
    </root>
  </artifact>
</component>