<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>第三方系统</title>
    <link rel="stylesheet" href="/ui/css/login.css" >
</head>

<body>
<div class="container">
    <form class="form-signin" th:action="@{/login}" method="post">
        <h1>第三方系统登录页面</h1>
        <input type="text" name="username" class="form-login-username" placeholder="账号" required autofocus>
        <input type="password" name="password" class="form-login-password" placeholder="密码" required>
        <p th:if="${param.logout}" class="error-code">已成功注销</p>
        <p th:if="${param.error}" class="error-code">用户名或者密码错误</p>
        <button class="form-signin-submit" type="submit">登录</button>
        <a class="form-signin-other-login" id="login">以**登录</a>
    </form>
</div>

<script src="../../ui/js/jquery.min.js"></script>
<script type="text/javascript" src="../../ui/js/login.js"></script>
</body>
</html>