<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>第三方系统</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>

<body>
<div class="container">
    <div class="col-sm-12">
        <h1>重定向到第三方系统</h1>
        <a class="btn btn-primary" id="passwordAccessToken">获取Token</a>
        <a class="btn btn-primary" id="checkToken">验证Token</a>
        <a class="btn btn-primary" id="refreshToken">刷新Token</a>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="showAccessToken"></div>
            <div id="showRefreshToken"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="showUserName"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="showRefreshAccessToken"></div>
            <div id="showRefreshRefreshToken"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="showErrorMessage"></div>
        </div>
    </div>
</div>

<script src="../../ui/js/jquery.min.js"></script>
<script type="text/javascript" src="../../ui/js/password.js"></script>
</body>
</html>