<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>第三方系统</title>
    <link rel="stylesheet" href="/ui/css/register.css">
</head>

<body>
<div class="container">
    <form id="form-register">
        <h1>第三方系统注册页面</h1>
        <input type="text" name="username" class="form-register-username" placeholder="账号" required autofocus>
        <input type="password" name="password" class="form-register-password" placeholder="密码" required>
        <button class="form-register-submit" id="register" type="button">注册</button>
    </form>
</div>

<script src="../../ui/js/jquery.min.js"></script>
<script type="text/javascript" src="../../ui/js/register.js"></script>
</body>
</html>